.homeContainer {
  display: inline;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  border: 1px solid black;
}

section {
  display: block;
  position: relative;
  max-width: 465px;
  height: 100%;
  padding-top: 105px;
}
section div {
  position: absolute;
  top: 219px;
  left: 141px;
  z-index: -1;
  width: 284px;
  height: 26px;
  background: #ffda55;
}
h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 76px;
  color: #282828;
}
p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #282828;
  margin-top: 18px;
}

button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #48d0b0;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  width: 231px;
  height: 66px;
  border: none;
  margin-top: 43px;
}
